body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color:skyblue;
}


.wrapper{
    width: 400px;
    height: 300px;
    box-shadow :0px 0px 20px 2px rgba(0,0,0,0)
}
.wrapper div{
    width: 100%;
    height: 100px;

}
.orange{
    background :orange;

}
.white{
    background : url(image.png) no-repeat;
    background-size: 100px;
    background-position: center;
    background-color: white;

}
.green{
    background :green;

}
